body {
    margin: 0;
    background-color: #afafaf;
}


.composition {

    width: 650px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.road {

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

}


.car {

    position: absolute;

    bottom: 0px;
    right: 18px;
    z-index: 3;
}

.tree {

    position: absolute;
width: 172px;
    bottom: 44px;
    right: 30px;
    z-index: 2;

}



.cloud {

    position: absolute;

    top: 30px;
    left: 20px;
    z-index: 2;
}

.cloud2 {

    position: absolute;

    top: 102px;
    left: 203px;
    z-index: 1;
}

.cloud3 {

    position: absolute;

    top: 20px;
    right: 50px;
    z-index: 1;
}



Psevdo


.psevdo-title{

    margin: 0;
    font
}